.container {
    position: relative;
    width: 1200px;
    height: 800px;
    border: 5px dashed orange;
    margin: auto;
    text-align: center;
}

.container div{
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius:10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 48px; 
}

.fixed{
    position: fixed;
    border: 3px dashed black;
}

.base{
    position: absolute;
    border: 3px dashed black;
    z-index: -1;
    color: #ddd;  
}

.first{left: 0px;}
.second{right: 0px;}
.third{bottom: 0px; left: 0px;}
.fourth{bottom: 0px; right: 0px;}

.fifht{top: 0; left: 500px;}
.sixth{top:200px;left:500px}
.seventh{top: 400px;left: 500px;}
.eighth{top:600px;left:500px}