*{margin: 0;padding: 0;}

.container{
    width: 1920px;
    height: 1200px;
    box-sizing: border-box;
    
    background: url(../img/background.jpg)
}


/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

.container .inner{
    position: relative;
    width: 400px;
    height: 680px;
    left: 25%;
    top: 240px;
    border: px solid white;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 0 200px;

    background: #FFFFFF;
}

.container .inner a img{
    width: 350px;
    height: 90px;
    margin-left: 20px;
    margin-top: 90px;
}

.container .inner .kr1,
.container .inner .kr2{
    font-size: 24px;
    color: gray;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left:  26px;
    margin-bottom: 6px;
}

.container .inner .kr1{margin-top: 60px; ;}
.container .inner .kr2{margin-top: 40px; ;}

.container .inner .item{
    position: absolute;
    width: 350px;
    height: 3px;
    background-color:rgba(128, 128, 128, 0.3);
    border-radius: 10px;
    left: 20px;
}

.container .inner .item:after{
    content: '';
    width: 0;
    height: 100%;
    background: blue;
    border-radius: 10px;
    position: absolute;
   
}

.container .inner .item:hover:after{
    width: 100%;
    color: #ddd;
    transform: all 10s;
}

.checkbox{
    position: relative;;
    width: 350px;
    height: 70px;
    margin-top: 30px;
    left: 50%;
    margin-left: -175px;
}

.checkbox label{
    float: left;
    width: 150px;
    /* margin-left: 20px; */

}

.checkbox input.ckeckbox1{
    font-size: 20px;
    width: 1.25em; /* 너비 설정 */
    height: 1.25em; /* 높이 설정 */
    vertical-align: middle;
    margin-top: 14px;
}

.checkbox label p{
    position:absolute ;
    text-align: center;
    display: inline-flex;
    padding-top:12px ;
    font-size: 20px; 
    color: gray;
    padding-left: 10px;
}

.inner .lognWrap{
    position: relative;
    width: 350px;
    height: 70px;
    background: royalblue;
    border-radius: 6px;
    left: 50%;
    margin-left: -175px;
    text-align: center;
    font-size: 30px;
    color: white;
    line-height: 70px;
}

.inner .lognWrap:hover{
    background: rgb(12, 29, 78);
}

.inner .joinWrap{
    position: relative;
    width: 350px;
    height: 70px;
    background: royalblue;
    border-radius: 6px;
    left: 50%;
    margin-left: -175px;
    text-align: center;
    font-size: 30px;
    color: white;
    line-height: 70px;
    margin-top: 20px;
}

.inner .joinWrap:hover{
    background: rgb(12, 29, 78);
}

pre{
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
}